.DS_Store

lib/
output/amortizations/
output/cfg/
output/cmd/
output/fuzz/
src/main/python/*.json

*.pyc

# Test logs
# logs/test/

# Fuzzing related
fuzzer-out/
bin/
bin-instr/
*_fuzzing.json
*_qfuzz.json

# Intellij
.bsp/
*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/*-shim.sbt
project/project/
project/target/
.scala_dependencies
.worksheet

*.pdf

# Ultimate
Ultimate*
